{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% block content %}
    {% if site_logo or site_name or site_slogan %}
        <div class="ml-3 ml-md-0">
            {%  if site_logo or site_name %}
                <a class="navbar-brand mr-2 d-flex align-items-center py-0" href="{{ path('<front>') }}" rel="home">
                    {% if site_logo %}
                        <img class="navbar-brand mr-2 hide-logo logo" src="{{ site_logo }}" alt="{{ 'Home'|t }}"/>
                    {% endif %}
                    {% if site_name %}<span class="d-md-none">{{ site_name }}</span>{% endif %}
                </a>
            {%  endif %}
            {% if site_slogan %}
                <p class="d-md-none d-flex align-items-center text-white h-100 pl-md-3 text-center text-md-left slogan">{{ site_slogan }}</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
